body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  form {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  select,
  button {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  div {
    display: flex;
    gap: 20px;
  }

  div > div {
    flex: 1;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  button:hover {
    background-color: #d9534f;
  }